.nav {
    display: flex;
}
.nav > .item {
    display: block;
    font-size: .875rem;
    padding: .75rem 1rem;
    text-decoration: none;
    font-weight: 600;
}
.nav > .item:not(.button) {
    color: #292929;
}
.nav > .button.item {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1rem;
}

/*@media screen and (max-width: 767px) {
    .mainnav {
        position: fixed;
        top: 0; right: 0; bottom: 0;
        width: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: var(--main-color, #888);
        color: var(--counter-color, #fff);
        padding-top: 3rem;

        transform: translateX(100%);
        transition: transform .5s cubic-bezier(.65, 0, 0, 1), box-shadow .5s;
    }

    .mainnav.open {
        transform: none;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

    .mainnav > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: var(--text-font, sans-serif);
    }

    .mainnav li {
        display: block;
        position: relative;

    }
    .mainnav li + li {
        border-top: 1px solid rgba(var(--counter-color-rgb, 255, 255, 255), 0.25);
    }

    .mainnav li ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border-top: 1px solid rgba(var(--counter-color-rgb, 255, 255, 255), 0.25);
    }

    .mainnav li a {
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
        color: var(--counter-color, #fff);
        transition: color .2s;
    }
    .mainnav .node > a:after {
        content: "\f0d7";
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: .75em;
        margin-left: .25rem;
        opacity: .75;
        position: absolute;
        top: .625rem;
        right: 1rem;
    }
}*/

.mainnav {
    display: none;
}

@media screen and (min-width: 768px) {
    .mainnav {
        display: block;
    }

    .mainnav > ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: var(--text-font, sans-serif);
    }
    .mainnav li {
        display: block;
        position: relative
    }
    .mainnav > ul > li:after {
        content: "";
        display: block;
        position: absolute;
        right: .875rem; bottom: .25rem; left: .875rem;
        height: 3px;
        background-color: var(--counter-color, var(--text-color));

        transform: translateY(5px);
        opacity: 0;
        transition: transform .2s, opacity .2s;
    }
    .mainnav li ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        min-width: 100%;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: white;
        padding: .25rem 1rem;
        box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.06);
        border-radius: 3px;

        opacity: 0;
        transition: opacity .2s;
        pointer-events: none;
    }
    .mainnav > ul > li {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
    .mainnav > ul > li:hover:after,
    .mainnav > ul > li.active:after {
        transform: none;
        opacity: 1;
    }
    .mainnav > ul > li:hover ul {
        transform: none;
        opacity: 1;
        pointer-events: auto;
    }
    .mainnav li ul li + li {
        border-top: 1px solid rgba(var(--text-color-rgb), 0.05);
    }
    .mainnav li a {
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
        color: var(--counter-color, var(--text-color));
        font-weight: var(--font-weight-medium, 500);
        transition: color .2s;
    }
    .mainnav li ul a {
        color: var(--text-color);
        padding: 0.5rem 1rem 0.5rem 0;
    }
    .mainnav li ul a:hover {
        /*background-color: rgba(var(--text-color-rgb), 0.1);*/
        color: var(--link-color);
    }
    .mainnav .node > a:after {
        content: "\f0d7";
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: .625em;
        margin-left: .25rem;
        opacity: .75;
        position: relative;
        top: -2px;
    }
}
