.screen-reader-text {
    display: none;
}

.post-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: .875rem;
    margin-top: -1em;
    opacity: .75;
}

.post-meta .meta-wrapper {
    margin-right: 1rem;
}

.post-meta a[href] {
    color: inherit;
}

@media screen and (max-width: 767px) {
    .post-meta {
        text-align: center;
        margin-top: .5rem;
        justify-content: space-evenly;
    }
    .post-meta .meta-text {
        display: block;
    }

    .cover .post-meta {
        flex-wrap: wrap;
        text-align: left;
    }
    .cover .post-meta .meta-wrapper {
        white-space: nowrap;
    }
    .cover .post-meta .meta-text {
        display: inline-block;
    }
}
