.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
.container.small {
    max-width: 50rem;
}
.container.large {
    max-width: 76rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.columns > .column {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.narrow.columns > .column, .columns > .narrow.column {
    width: 50%;
}

.link {
    color: var(--link-color, #00f);
    transition: color .2s;
}
.link:hover {
    color: var(--link-color-hover, #009);
}

.meta {
    font-size: .875rem;
    margin-top: -1em;
    opacity: .75;
}
.meta a[href] {
    color: inherit;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .show-for-medium-up {
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    .columns > .column {
        width: 25%;
        margin-bottom: 0;
    }
    .narrow.columns > .column, .columns > .narrow.column {
        width: 25%;
    }
    .three.columns > .column {
        width: 33.33333%;
    }
}
