.topbar {
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
    transition: background-color .2s;
    color: var(--counter-color, var(--text-color));
}
body.admin-bar .topbar {
    top: 32px;
}
.topbar.inverted:not(.scrolled) {
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}
.topbar.inverted:not(.scrolled) .nav > ul > li > a {
    color: white;
}
.topbar.inverted:not(.scrolled) .social-link i {
    color: white !important;
}
.topbar.scrolled {
    background-color: rgba(var(--page-background-rgb), 0.9);
    color: var(--text-color);
}
.topbar.scrolled .mainnav > ul > li > a {
    color: var(--text-color);
}
.topbar.scrolled .mainnav > ul > li:after {
    background-color: var(--text-color);
}
.topbar .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar .brand {
    padding: 1rem .5rem;
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
}
.topbar .brand img {
    display: block;
    width: 3.875rem;
}

.topbar .brandbox {
    position: absolute;
    top: 0; left: 0;
}


@media screen and (max-width: 767px) {
    .topbar .nav-dropdown {
        display: none;
    }
}

.dimmer {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(var(--text-color-rgb), 0.7);
    display: none;
    opacity: 0;
    transition: opacity .5s;
}
.dimmer.visible {
    opacity: 1;
}

/*@media screen and (min-width: 768px) {
    .topbar .hamburger {
        display: none;
    }
}*/


.nav-dropdown .social-link i {
    margin: 0 0 0 .5rem;
}
.nav-dropdown .social-link {
    padding: 0;
}
